body {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  
}



.container {
  perspective: 2000px;
  animation: rotate-cube 20s linear infinite alternate-reverse forwards;
  perspective-origin: 20% 50%;
  

  .cube {
    position: relative;
    border-radius: 10px;
    transform-style: preserve-3d;
    /* transition: transform 2s ease-in-out; */

    img {
      position: absolute;
      transform: translateY(1em) translateX(1em);

    }

    .side {
      width: 4em;
      height: 4em;
      box-shadow: 0 0 0.5em #000a inset;
      position: absolute;
      transition: transform 2s ease-in-out;

      &.front {
        background-color: rgba(255, 133, 93, .8);
        transform: translateZ(2em);
      }

      &.back {
        background-color: rgba(255, 133, 93, .8);
        transform: translateZ(-2em);
      }

      &.right {
        background-color: #043F61;
        transform: translateX(2em) rotateY(90deg);
      }

      &.left {
        background-color: rgba(4, 63, 97, .8);
        transform: translateX(-2em) rotateY(-90deg);
      }

      &.top {
        background-color: rgb(255, 90, 49);
        transform: translateY(2em) rotateX(90deg);
      }

      &.bottom {
        background-color: rgba(255, 90, 49, .6);
        transform: translateY(-2em) rotateX(-90deg);
      }
    }

  }
}

.cube:hover {
  .side.front {
    transform: translateZ(4em);
  }

  .side.back {
    transform: translateZ(-3em);
  }

  .side.right {
    transform: translateX(3em) rotateY(90deg);
  }

  .side.left {
    transform: translateX(-3em) rotateY(-90deg);
  }

  .side.top {
    transform: translateY(4em) rotateX(90deg);
  }

  .side.bottom {
    transform: translateY(-3em) rotateX(-90deg);
  }

}


@keyframes rotate-cube {
  0% {
    perspective-origin: 50% 50%;
  }

  25% {
    perspective-origin: 1000px 50%;
  }

  50% {
    perspective-origin: 50% 1000px;
  }

  75% {
    perspective-origin: -1000px 50%;
  }

  100% {
    perspective-origin: 50% -1000px;
  }
}